.map {
  top:0pt;
  left:0pt;
  width:100%;
}
.map td {
  width:50%;
  text-align:center;
}
.map a {
  text-decoration:none;
  text-align:center;
}
.online table {
  top:20%;
  left:50%;
  text-align:center;
}
a {
  text-decoration:none;
}
